#sidebar {
    width: 100%;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 20px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    font-family: 'xingothic-tc';
    font-weight: 500;
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}