
html {
    scroll-behavior: smooth;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' -25, 'opsz' 24
}

body {
    background-color: #1f1f1f;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    font-family: "jf-jinxuan", sans-serif;
    display: flex;
    line-height: 1.2em;
    flex-wrap: nowrap;
}
.jf-reloading body{ /* _jf.flush() 執行中不顯示*/
    opacity: 0;
    visibility: hidden;
}
.text {
    vertical-align: middle;
}

.copy-button {
    background-color: #ffffff00;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    color: #ffffff;
    font-size: 12px;
}

.codeDisplay {
    background-color: #354863;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em;
    line-height: 20px;
}

.sidebar_box {
    width: 20%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
    margin-left: 2em;
    line-height: 40px;
}

li {
    min-height: 50px;
    line-height: 40px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: rgb(145, 181, 253);
    line-height: 50px;
    font-family: "xingothic-tc", sans-serif;
}
.showImageHint{
    font-family: 'xingothic-tc';
    font-weight: 200;
    font-size: 12px;
}
.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

img {
    border-radius: 10px;
}
.li_margin{
    margin-top: 70px;
}

#content {
    width: 60%;
    padding-left: 50px;
    margin-left: 20%;
    overflow-x: clip;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.code-container {
    margin-left: 20px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}


.img-container {
    width: 60%;
    margin: 0 auto;
}

.showImage {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.showImage:hover {
    opacity: 0.7;
}

/* Dialog 样式 */
/* Dialog 样式 */
dialog {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9); /* 背景變暗 */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    z-index: 1000;
    width: auto; /* 調整寬度以適應內容 */
    height: auto; /* 調整高度以適應內容 */
}

dialog img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* 確保圖片按比例縮放 */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001; /* 保證關閉按鈕位於圖片之上 */
}
.jx-knightlab{
    display: none;
    z-index:0;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #1f1f1f;
        padding-left: 10px;
        padding-right: 10px;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    .img-container {
        width: 90%;
        margin: 0 auto;
        
    }
    .sidebar_box {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .sidebar_box.active {
        display: block;
        width: 60%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999;
        background-color: #333;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }
    #content {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    p {
        font-size: 12px;
        line-height: 20px;
    }
    li{
        font-size: 12px;

    }
    .li_margin{
        margin-top: 30px;
    }
    li {
        line-height: 25px;
    }
}